<div class="container signFormForm" *ngIf="!hideForm" id="content">
  <div class="row">
    <div class="col-xs-12">
      <img src="assets/banner.jpeg" width="100%">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 templateContent pt_15">
      <p> Angular 9 project convert html page to pdf Using Html2Canvas</p>
      <p> Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem</p>
      <p> Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem)</p>
      <p>Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum
        Lorem IpsumLorem
        Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum
      </p>

      <p class="pt_15">
        Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum
        Lorem IpsumLorem
        Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum
        Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum
        Lorem IpsumLorem
        Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem Ipsum
      </p>

      <p class="pt_15">
        Berikut adalah penambahan manfaat Uang Pertanggungan Jiwa Dasar yang ditawarkan:
      </p>

      <table class="table table-bordered pt_15 templateTable">
        <thead>
          <tr>
            <th class="templateTableHeading">Header1</th>
            <th class="templateTableHeading"> Header 2 <br>
              XX XXXX XXXX</th>
            <th class="templateTableHeading">Lorem Ipsum Lorem Ipsu</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lorem Ipsum Lorem Ipsu</td>
            <td colspan="2">Lorem Ipsum Lorem Ipsu</td>
          </tr>
          <tr>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
          </tr>
          <tr>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
          </tr>
          <tr>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
          </tr>
          <tr>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
          </tr>
          <tr>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
          </tr>
          <tr>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
            <td>Lorem Ipsum Lorem Ipsum</td>
          </tr>
        </tbody>
      </table>
      <p>
        Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem
      </p>
      <p class="pt_15">
        Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem
      </p>
    </div>
  </div>
  <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Name</label>
      <input type="text" class="form-control" id="exampleInputName" placeholder="Name">
    </div>
    <hr>
    <div class="form-group">
      <div class="row pb_20">
        <div class="col-xs-12 signature">
          <signature-pad [options]="signaturePadOptions"></signature-pad>
          <p>Signature</p>
        </div>
      </div>
    </div>
  </form>


  <div class="row" >
    <div class="col-xs-12 submitBtn">
      <button class="btn btn-primary btn-border-lightblue text-bold" (click)="generatePdfForm()">
        <span>Download Page </span>
      </button>
    </div>

  </div>
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p class="Logo"><img width="60px" src="assets/angular-js-logo.png"></p>
          <p>Posted by: LIJO JOSEPH <a href="https://github.com/lijoos/Angular9ToPDF">GitHub</a> Contact information: <a
            href="lijo.8893@gmail.com">lijo.8893@gmail.com</a></p>
        </div>
        <div class="col-xs-6">
          
        </div>
      </div>


    </div>
  </div>
